# Node
node_modules/
package-lock.json
yarn.lock

# Expo / React Native
.expo/
.expo-shared/
web-build/
dist/
*.expo.js

# Metro / cache
*.tmp
*.log
*.tsbuildinfo
node_modules/.cache

# VS Code
.vscode/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db
