# Node
node_modules/
package-lock.json
npm-debug.log
yarn.lock

# Expo / React Native
.expo/
.expo-shared/
web-build/
dist/
*.expo.js

# Android
android/.gradle/
android/build/
android/app/build/

# Metro / cache
*.tmp
*.log
*.tsbuildinfo
node_modules/.cache

# VS Code
.vscode/

# Environment variables
*.keystore
.env
app.config.js

# OS
.DS_Store
Thumbs.db
